
<div class = "layout topMargin">
	<div class="panel panel-default">
	  <div class="panel-body">
	  	<div id = "carousel" class = "right panel-right displayWhenBig">
		    <carousel interval="myInterval">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		      </slide>
		    </carousel>
		</div>
	    <div>
	    	<h2>About Us</h2>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras odio leo, iaculis in arcu non, laoreet vulputate nibh. Vivamus faucibus congue nisi, at viverra urna hendrerit et. Cras luctus erat a leo mollis bibendum. Proin convallis elit porttitor nunc interdum molestie. Cras iaculis molestie neque, quis egestas leo scelerisque ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus pharetra urna vel ipsum condimentum, quis pharetra erat euismod.</p>
	    	<p>Proin nec felis id nunc porttitor auctor tincidunt nec ipsum. Aenean luctus lectus quis tortor blandit, id iaculis ex tincidunt. Nunc sed felis molestie, faucibus nulla vel, vehicula sem. Donec mi magna, condimentum in nisi sed, consequat lacinia erat. Pellentesque lobortis tincidunt blandit. Nulla sit amet neque congue, cursus metus quis, rutrum neque. Pellentesque dictum arcu mauris, eget posuere nibh eleifend in.</p>
	    	<p>Mauris bibendum quis mauris nec dapibus. Proin rhoncus id orci eu congue. Sed ante magna, faucibus non pulvinar quis, fringilla quis mi. Suspendisse quis diam sit amet nulla eleifend laoreet eu non quam. Quisque tempus interdum ullamcorper. Fusce dictum sodales est, id vehicula odio accumsan eget. Maecenas condimentum, quam iaculis auctor maximus, purus elit ullamcorper libero, quis faucibus lectus dui in enim.</p>
	    	<p>Nam eu sollicitudin nunc, finibus pharetra tortor. Aenean ut felis a lorem viverra ornare.In at sapien faucibus, aliquet orci sit amet, vestibulum odio. Praesent hendrerit lectus non sapien volutpat, a sollicitudin ante volutpat. In pretium tortor nec lacus consequat, vel pretium diam lobortis. Sed sed aliquet metus. Nullam at mollis nisi. Sed mollis lectus et lectus lobortis, lobortis consectetur ex iaculis. Vivamus sagittis convallis consequat. Morbi eu aliquet mi. Donec sem libero, tincidunt vel hendrerit ut, laoreet ac purus.</p>
		</div>

	  </div>
	</div>
</div>