/* RESETS */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

body, header, h1, h2, h3, nav, footer, ul, li {
	margin: 0;
	padding: 0;	  
}

/* MAIN TAGS */

body{
	background-color: #F3FAB6;
}

header{
	height: auto;
	width: 100%;
	background-color: #005A31;
	color: #33CCFF;
	/* #CBE32D; */
	border-bottom: 2px solid #000;
}

h1 {
	font-size: 1.5em;
	line-height: inherit;
}

h2 {
	font-size: 1.35em;
}

hr {
	margin: 5px 0 0 0 !important;	
	border-top: 1px solid rgb(0,102,0) !important;
	width: 100%;
}

/* STANDARD CLASSES */

.left{
	float: left;
}

.right{
	float: right;
}

.layout {
	width: 97%;
}

.bold {
	font-weight: 700;
}

.topMargin {
	margin: 20px auto;
}

.displayWhenBig {
	display: none;
}

.pad {
	padding: 0 1.5% 1.5%; 
}

.btn-longer {
	width: 100%;
}

.smaller {
	width: 125px;
}

.btn-resize {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}

.btn-radius {
	border-radius: 3px;
}

.btn-radius-resize {
	border-radius: 3px;
}

.active {
	background-color: #005A31;
	text-decoration: underline !important;
	color: #fff !important;
}

.panel-left {
	width: 100%;
}

.panel-right {
	width: 55%;
	margin: 0 0 5px 1.5%;
}

.jumbotron {
	padding: 0;
}

/* NAV BAR */

.navbar {
	margin-bottom: 0;
	height: auto;
	min-height: 35px;
}

.navbar-toggle {
	margin-top: 0;
	margin-bottom: 0;
}

.navbar-default{
	background-color: #005A31;
	border-color: transparent;
	border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
	color: #33CCFF;;
	font-size: 20px;
	font-weight: 900;
	line-height: inherit;
	padding-top: 6px;
}


.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}

#loggedin {
	padding-right: 15px;
}

/* HOME VIEW STYLES */

#temps p{
	float: left;
	padding: 0 15px 0 2px;
	margin: 0;
}

input {
	text-align: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
}

#firstView {
	order: 1;
	margin: 3px 20px 0 0;	
}

#secondView {
	order: 2;
	margin-top: 3px;
	height: 400px;
}

/* Search Fields */

.form-height {
	height: 28px;
}

.form-group {
	margin-bottom: 2px;
	width: 100%;
}

.form-control {
	display: inline-block;
}

.form-horizontal .control-label {
	text-align: center;
}

.labelStyle {
	width: 35%;
	padding: 0 1% 0 0;
	margin: 0;
	font-size: 1em;
}

.inputWidth {
	width: 63%;
}

.resetButton {
	background-color: #005A31;
	color: #fff;
}

.resetButton:hover {
	background-color: #C9302C;
	color: #fff;
}

/* Cart */

.table>thead>tr>th, .table>tbody>tr>th, .table>thead>tr>td, .table>tbody>tr>td {
	vertical-align: middle;
}

.tableBorderBottom {
	border-bottom: 2px solid #ddd;
}

/* Plant Gallery */

#plantList{
	margin: 0 auto 30px auto;
}

.plantCard {
	display: none;
	height: 330px;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 30px;
}

.plantCard img{
	width: 100%;
	height: 220px;
}

.plantHeader{
	height: 40px;
	width: 100%;
	border-bottom: 1px solid black;
	padding: 5px 10px;
	font-size: 1.25em;
	line-height: 2.1em;
	border-radius: 5px 5px 0 0
}

.plantHeader p {
	margin-bottom: 0;
	height: 30px;
	color: #fff;
}

.veggieColor{
	background-color: #005A31;
	/*#669933;*/
}

.herbColor{
	background-color: #5Cb85C;
	/*#6BAE63;*/
}

.flowerColor{
	background-color: #A89ACB;
}

.fruitColor{
	background-color: #F78D51;
}

/* PLANT DETAILS STYLES */

#plantDescription {
	order: 1;
	margin: 2% 0;	
}

#plantImage {
	order: 2;
	margin: 2% 0;
	height: auto;
	border: 1px solid #000;
}

#plantImage img {
	width: 100%;
}

/* ABOUT PAGE */

/* CONTACT PAGE */

#commentBox {
	width: 100%;
}

textarea {
	width: 100%;
}

#mapBox {
	height: 500px;
}

#commentRequest {
	margin-top: 6px;
}

.angular-google-map-container { 
	height: 500px;
}

/* PLANTS PAGE */

#addPlant {
	background-color: #D9EDF7;
}

/* MEDIA QUERIES */

@media (min-width: 400px) {

	h1 {
		font-size: 2em;
	}

}

@media (min-width: 450px) {

	.inline-form {
		max-width: 300px;
		margin-top: -6px !important;
	}

}

@media (min-width: 400px) {

	h1 {
		font-size: 2em;
	}

}

@media (min-width: 813px) {

	h2 {
		font-size: 2.5em;
	}

	.homeContainer {
		flex-direction: row;
	}

	#firstView {
		flex: 1;
		margin-top: 10px;
	}

	#secondView {
		flex: 2.1;
		margin: 10px 0 0 10px;
	}

	#plantImage {
		order: 1;
		flex: 1;
		margin: 2%;
	}

	#plantImage img {
		width: 100%;
	}

	#plantDescription {
		order: 2;
		flex: 3;
	}

	.btn-resize {
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		vertical-align: middle;
	}

	.form-height {
		height: 34px;
	}

	.form-group {
		margin-bottom: 10px;
		width: 100%;
	}

	.labelStyle {
		padding: 0 5% 0 0;
		font-size: 1.1em;
	}

	#plantGallery table {
		display: none;
	}

	.plantCard {
		display: block;
	}

	.btn-radius-resize {
		border-radius: 0;
	}

	.inline-form {
		margin-top: 6px !important;
	}

}

@media (min-width: 830px) {

	header {
		min-height: 90px;
	}

	h1 {
		font-size: 2.5em;
	}

	.displayWhenBig {
		display: block;
	}

	.navbar-default .navbar-nav>li>a {
		padding-top: 15px;
	}

	.panel-left {
		width: 40%;
	}
}

@media (min-width: 1000px) {

	header {
		min-height: 105px;
	}

	#secondView {
		flex: 2.5;
	}

	#plantList {
		width: 33%;
	}

	.inline-form {
		margin-top: 1px !important ;
	}

}

@media (min-width: 1020px) {

	h1 {
		font-size: 3.5em;
	}

	.navbar-default .navbar-nav>li>a {
		font-size: 23px;
		padding-top: 27px;
	}
}

@media (min-width: 1100px) {

	#secondView {
		flex: 3;
	}

	

}


