<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<h1 class="h1">
					Admin <small>Manage Users</small></h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Active</th>
						<th>Admin</th>
						<th>Id</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.email}}</td>
						<td>{{user.isActive}}</td>
						<td>{{user.isAdmin}}</td>
						<td>{{user._id}}</td>
					</tr>
				</tbody>		
			</table>
		</div>
	</div>
</div>